.address {
    background-color: @white;
    padding: 0 25px 50px;
    color:@black;
    position: relative;
    &__header {
        margin-bottom: 40px;
    }
    &__link {
        display: block;
        color:@pink;
        font-size: 24px;
        font-weight: lighter;
        margin:0 5px 35px;
        &:last-child {
            margin: 0;
        }
    }
    &::before {
          content: "";
          display: block;
          position: absolute;
          top:100%;
          left:50%;
          margin-left: -350px;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 40px 350px 0 350px;
          border-color: @white transparent transparent transparent;
    }
}

@media screen and (min-width: 700px) {
    .address {
    &__header {
        margin: 0 140px 40px;
    }
    &__container:not(:last-child){
        display: inline-block;
        margin: 40px;
        margin-top: 0; 
    }
    &__container:last-child{
        width: 240px;
        margin: 0 auto;
    }
    &::before {
          content: "";
          display: block;
          position: absolute;
          top:100%;
          left:50%;
          margin-left: -600px;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 60px 600px 0 600px;
          border-color: @white transparent transparent transparent;
    }
}
}