.address {
    //@media @mobile {
        &__wrapper {
            padding: 5px 0 27px;
            width: 280px;
            margin: 0 auto;
        }
        &__header {
            font-size: 24px;
            color: @dark-grey;
            text-align: center;
            font-weight: lighter;
            margin-bottom: 33px;
        }
        &__text {
            font-weight: bold;
            text-align: center;
            //font-size: 18px;
            margin-bottom: 5px;
        }
        &__link {
            text-align: center;
            display: block;
            color:@pink;
            font-size: 24px;
            margin-bottom: 5px;
            &:hover {
                text-decoration: underline;
                color:@dark-blue;
            }
            &:active {
                opacity: .3;
            }
        }
    //}
    @media @tablet {
        &__wrapper {
            width: 620px;
        }
        &__header {
            font-size: 40px;
            width: 400px;
            margin: auto;
        }
        &__container {
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: -o-flex;
            display: flex;
            flex-wrap:wrap;
            justify-content: space-around;
        }
        &__item {
            width: 260px;
        }
    }
    @media @desktop {
        &__wrapper {
            width: 940px;    
        }
        &__item {
            &:nth-child(2) {
                order:1;
            }
        }
    }    
}