.form {
    @media @mobile {
        margin: 55px 25px;
        &__header {
            width: 280px;
            font-size: 14px;
            line-height: 30px;
            color: @dark-grey;
            font-weight: normal;
            margin: 0 auto;
            text-align: center;
            span {
                display: none;
            }
        }
    }
    @media @tablet {
        margin: 100px 45px;
        &__header {
            width: 500px;
            font-size: 18px;
            span {
                display: inline;
            }
        }
    }
    @media @desktop {
        margin: 130px 100px;
        &__header {
            width: 800px;
        }
    }    
}