.page-logo {
    @media @mobile {
        .hide-link-text;
        display: inline-block;
        width: 160px;
        height: 70px;
        background: url(../img/page-logo.png) no-repeat 50% 50%;
    }
    @media @tablet {
        height: 110px; 
    }
    @media @desktop {
        
    }    
}