body {
    background-color: #282828; 
    color:white;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    margin:0;
    padding:0;
}

a {
    text-decoration: none;
    color:white;
}

ul {
    list-style:none;
    padding:0;
    margin: 0;
}

.wrapper {
    width: 320px;
    margin: 0 auto;
}

.page-title {
      font-size:24px;
    font-weight:lighter; 
    margin:30px 45px 300px;
}

.page-header {
    .wrapper {
        background:url("../img/hand.png") no-repeat 50% 45% ,
            url("../img/main-background.jpg") no-repeat 50% -30%;
    }      
}

.download {
    background-color: #1d2631;
    padding:30px 20px 10px;
    &__link {
        font-size:18px;
        font-weight: bolder;
        display: block;
        padding:10px;
        border: 5px solid white;
        border-radius: 50px;
        margin:0 5px 25px;
    }
        &__download-type {
        width: 75px;
        height: 75px;
        display: inline-block;
        background: url("../img/apple-logo.png") no-repeat center;
            &--android {
                background-image: url("../img/android-logo.png");
            }    
            &--win-phone {
                background-image: url("../img/win-logo.png");
            } 
    }
            &__text {
                font-size:14px;
                font-weight: lighter;
            }
}

.main-nav {
    &__list {
        display:block;
        position: relative;
        height: 70px;
        border-bottom:1px solid #000101;
        border-bottom: 1px solid #000101;
        background: #283645 url(../img/page-logo.png) no-repeat 23px 23px;
            &--show {
                background-color: rgba(0,0,0,.3);
                &::before {
                    content: '';
                    display: block;
                    position: absolute;
                    width: 50px;
                    height: 5px;
                    background-color: white;
                    right: 15px;
                    top: 30px;
                    box-shadow:
                        0px 10px 0px 0px,
                        0px -10px 0px 0px;
                }            
            }
            &--hide {
                display: none;
                &::before {
                    content: '';
                    display: block;
                    position: absolute;
                    width: 50px;
                    height: 5px;
                    background-color: white;
                    right: 15px;
                    top: 30px;
                    transform:rotate(45deg);
                }
                &::after {
                    content: '';
                    display: block;
                    position: absolute;
                    width: 50px;
                    height: 5px;
                    background-color: white;
                    right: 15px;
                    top: 30px;
                    transform:rotate(-45deg);
                }
            }
    }
    &__link {
        font-weight: bold;
        font-size: 18px;
        color: white;
        text-transform: uppercase;
        text-align: center;
        display:block;
        padding:20px;
        border-bottom:1px solid #000101;
        border-top: 1px solid #485461;
        background-color: #283645;
        display: none;
    }    
}

.page-main {
    color:black;
    .wrapper {
        background-color: #fff;
       overflow: hidden;
        padding-top: 10px;
    }
    &__header {
        font-size:24px;
        font-weight: lighter;
        color: #283645;
        padding: 0 45px;
        margin: 20px 0;
    }
}

.features {
    margin-top: 70px;
    padding:30px 20px 300px;
    background: #f2f2f2 url("../img/iphone.png") no-repeat 50% 108%;
    position: relative;
    &::before {
            content: "";
          display: block;
          position: absolute;
          width: 360px;
          height: 50px;
          background-color: inherit;
          top: -20px;
          left: -30px;
          transform:rotate(-7deg);
        
    }
    &__header {
        font-size: 18px;
        margin-bottom: 20px;
    }
    &__text {
        font-size:14px;
        color: #283645;
        margin-bottom: 40px;
    }
}

.reviews-slider {
    position: relative;
    padding: 40px 0;
     &::before {
            content: "";
          display: block;
          position: absolute;
          width: 340px;
          height: 50px;
          background-color: white;
          bottom: -25px;
          left: -15px;
          transform:rotate(-7deg);
        
    }
    &__wrapper {
        width: 960px;
        overflow: hidden;
    }
    
    
    &__header {
        font-size: 18px;
    }
    &__text {
        font-size: 14px;
        color: #283645;
        padding: 0 20px;
        
    }
    &__item {
        display: inline-block;
        width: 320px;
        float:left;
    }
    &__controls {
        position: absolute;
        width: 100px;
        bottom:-30px;
        text-align: center;
        margin:0 auto;
        bottom:15px;
        left:160px;
        margin-left:-50px;
    }
    &__link {
        display:inline-block;
        width: 6px;
        height: 6px;
        background-color: #bec2c7;
        text-align: center;
        z-index: 10;
        margin:10px;
        border-radius: 50%;
    }
    &__link--current {
        box-shadow:0 0 0 3px #283645;    
    }
}
.prices-slider {
    padding: 80px 0 40px;
    background-color: #f2f2f2;
    &__wrapper {
        border:1px solid #e5e5e5;
        width: 840px;
        position: relative;
        left:-260px;
    }
    
    &__subscr-type {
        background-color: #283645;
        padding:25px 0;
        &--hit {
            position: relative;
            overflow: hidden;
            &::before {
                content: 'ХИТ';
                display: block;
                position: absolute;
                color:white;
                background-color: #d22856;
                transform:rotate(-45deg);
                font-size: 14px;
                padding: 5px 40px;
                top:13px;
                left: -25px;
            }
        }
    }
    
    &__header {
        color:white;
        text-transform: uppercase;
        font-size: 18px;
        padding: 0 0 10px;
        margin: 0;
    }
    &__price {
        color:white;
        text-transform: uppercase;
        font-size: 24px;   
        font-weight: lighter;
        padding: 0;
        margin: 0;
    }
    &__content {
        background-color: white;
        color:black;
        font-size: 14px;
        text-transform: uppercase;
        padding: 25px;
        margin: 0;
        text-align:left;
        p {
            padding: 0;
            margin: 0;
        }
    }
    &__content--included {
        position: relative;
            ::before {
                    content: '';
                    display: block;
                    position: absolute;
                    width: 30px;
                    height: 3px;
                    background-color: #3dc644;
                    right: 20px;
                    top: 30px;
                    transform:rotate(-45deg);
                } 
            ::after {
                    content: '';
                    display: block;
                    position: absolute;
                    width: 15px;
                    height: 3px;
                    background-color: #3dc644;
                    right: 42px;
                    top: 35px;
                    transform:rotate(45deg);
                } 
    }
     &__content--not-included {
        position: relative;
            ::before {
                    content: '';
                    display: block;
                    position: absolute;
                    width: 40px;
                    height: 3px;
                    background-color: #f25b26;
                    right: 20px;
                    top: 30px;
                    transform:rotate(-45deg);
                } 
            ::after {
                    content: '';
                    display: block;
                    position: absolute;
                    width: 40px;
                    height: 3px;
                    background-color: #f25b26;
                    right: 20px;
                    top: 30px;
                    transform:rotate(45deg);
                } 
    }
    &__controls {
        width: 100px;
        margin:40px auto;
    }
    &__link {
        display: inline-block;
        width: 6px;
        height: 6px;
        margin: 0 10px;
        background-color: #b5b9be;
        border-radius: 50%;
        &--current {
            box-shadow: 0 0 0 3px #283645;
        }
    }
}
.page-footer {
    
    
}
.address {
    background-color: white;
    padding: 50px 10px;
    color:black;
    position: relative;
    &__header {
        color:#686f78;
        font-size: 24px;
        font-weight: lighter;
    }
    &__text {
        color:#283645;
        font-size: 18px;
        font-weight: bolder;
    }
    &__link {
        color:#d54166;
        font-size: 24px;
    }
    &::before {
        content: '';
        display: block;
        position: absolute;
        width:160px;
        height: 60px;
        background-color: inherit;
        left: 5px;
        bottom: -20px;
        transform:rotate(10deg);
    }
    &::after {
        content: '';
        display: block;
        position: absolute;
        width:160px;
        height: 60px;
        background-color: inherit;
        right: 5px;
        bottom: -20px;
        transform:rotate(-10deg);
    }
    
}

.map {
    background: url("../img/map.jpg") no-repeat 47% 55%;
    height: 200px;
}