@black:#000;
@white:#fff;
@dark-blue:#1d2631;
@dark-grey:#797f86;
@grey:#bec2c7;
@light-grey:#f2f2f2;
@pink:#d22856;
@green:#3dc644;
@red:#f25b26;
@dark-green:#2aab6d;

* {
    margin:0;
    padding:0;
}

body {
    font-family: "Open Sans", "Verdana", "Tahoma", "Arial", sans-serif;
    background-color: #282828;
    color:@black;
}

h1 {
    font-size:24px;
    font-weight:lighter;
    color:@white;
}

h2 {
    font-size:24px;
    font-weight: lighter;
    color:@dark-grey;
}

h3 {
    font-size: 18px;
    color:@black;
}

a {
    text-decoration: none;
    color:@black;
}

ul {
    list-style:none;
}

.hide-link-text {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.wrapper {
    width: 320px;
    margin: 0 auto;
}

.page-logo {
    .hide-link-text;
    display: block;
    position: absolute;
    left: 0;
    width: 120px;
    height: 70px;
    background: url(../img/page-logo.png) no-repeat center;
}

.page-title {
    margin:30px 45px;
}

.page-header {
    &__nav-wrapper {
        position: relative;
        background-color: rgba(0, 0, 0, 0.3);
        border-bottom:1px solid @black;
        height:70px;
    }
}

.main-nav {
    position: relative;
    &__button {
        .hide-link-text;
        display:inline-block;
        height: 70px;
        width:80px;
        position: absolute;
        right: 0px;
            &::before {
                content: '';
                display: block;
                position: absolute;
                width: 50px;
                height: 5px;
                background-color: @white;
                right: 15px;
                top: 30px;
                box-shadow:
                    0px 10px 0px 0px @white,
                    0px -10px 0px 0px @white;
            }
                /*&::before {
                    content: '';
                    display: block;
                    position: absolute;
                    width: 50px;
                    height: 5px;
                    background-color: @white;
                    right: 15px;
                    top: 30px;
                    transform:rotate(45deg);
                }
                &::after {
                    content: '';
                    display: block;
                    position: absolute;
                    width: 50px;
                    height: 5px;
                    background-color: @white;
                    right: 15px;
                    top: 30px;
                    transform:rotate(-45deg);
                }    */
        }
    &__list {
            position: absolute;
            top:70px;
        }
    &__link {
        font-weight: bold;
        font-size: 18px;
        color: @white;
        text-transform: uppercase;
        text-align: center;
        padding:20px 0;
        border-bottom:1px solid #000101;
        border-top: 1px solid #485461;
        background-color: @dark-blue;
        width: 320px;
        display: block;
        display: none;
    }
}

.main-footer {
    background-color: @white;
    text-align: center;
    margin: 0 auto;
    &__developer {
        padding: 20px 0;
            a {
                .hide-link-text;
                display: inline-block;
                vertical-align: middle;
                width: 30px;
                height: 40px;
                background: url("../img/glukhanko.png") no-repeat center;

            }

        }
}
.social {
    &__item {
        display: inline-block;
    }
    &__link {
        .hide-link-text;
        display: block; 
        width: 48px;
        height: 48px;
        border: 2px solid @grey;
        border-radius: 50%;
        margin: 0 12px 40px;
        &--twitter {
            background: url("../img/twitter.png") no-repeat center;
        }
        &--facebook {
            background: url("../img/facebook.png") no-repeat center;
        }
        &--youtube {
            background: url("../img/youtube.png") no-repeat center;
        }
    }
}

@import "index.less";
@import "form.less";

@import "style-tablet.less";
