.map {
    background-color: @light-grey;
    position: relative;
    &__container {
        height: 200px;
    }
    &::before {
        z-index: 1000;
        content: "";
        display: block;
        width: 100%;
        height: 200px;
        position: absolute;
        left: 0;
        top: 0;
        background: url(../img/misc/triangle-white-footer--mobile.svg) no-repeat 50% 0;
        pointer-events: none;
    }
    @media @tablet {
        &::before {
            background-image: url(../img/misc/triangle-white-footer--tablet.svg);
        }
        &__container {
            height: 380px;    
        }
    }
    @media @desktop {
        &__container {
            height: 510px;
        }
    }    
}